.new-tweet {
  position: relative;
  background-color: #F6F6F6;
  border-radius: 10px;
  border-style: solid;
  border-color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
}
.new-tweet-error {
  color: red;
  padding-left: 4em;
  margin-bottom: 12px;
}

.new-tweet h2 {
  border-bottom: 1px solid #000000;
}

.new-tweet .counter {
  position: absolute;
  right: 10px;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 15px;
  font-style: italic;
}

.new-tweet .counter.counter-error {
  color: red;
}

.new-tweet input {
  position: absolute;
  left: 10px;
  bottom: 0;
  margin-bottom: 10px;
  background-color:aliceblue;
}

.new-tweet input:hover {
  color:white;
}

.new-tweet textarea {
  width:100%;
  margin-bottom: 35px;
  margin-top: -15px;
  padding-left: 5px;
  padding-top: 5px;
}

#tweet-article .chief {
  height: 60px;
  position: absolute;
  left: 0;
  top: 14px;
  background-color: black;
  border-radius: 20px;
  margin-left: 5px;
  width: 75px;
}

#tweet-article .header {
  background-color: whitesmoke;
  height: 85px;
  padding: 20px;
}

.name {
  margin-left: 75px;
  margin-bottom:0px;
  margin-top:1px;
}

.handle {
  margin-left: 290px;
  margin-top: -22px;
}

.comment-section {
  background-color: white;
  height: 100px;
  padding:20px;

}

.date {
  font-size: 10px;
  background-color:lightgrey;
  padding:15px;
  position:relative;
}

.date p {
  margin: 0;
  font-style: oblique;
  font-family: sans-serif;
  position:absolute;
}

.new-tweets {
  margin:20px 0;
  position:relative;
  border-radius:10px;
  border-style:solid;
  border-color:black;
  overflow:hidden;
}

.new-tweets:hover {
  border-color:white;
}

.fa-flag {
  right: 60px;
  position: absolute;
  color:red;
}

.fa-retweet {
  right:40px;
  position:absolute;
  color:red;
}

.fa-heart {
  right:20px;
  position:absolute;
  color:red;
}

.fa-flag:hover {
  right: 60px;
  bottom:3px;
  position: absolute;
  color:aliceblue;
  font-size: 15px;
  opacity:1;
}

.fa-retweet:hover {
  right:40px;
  bottom:3px;
  position:absolute;
  color:aliceblue;
  font-size:15px;
  opacity:1;
}

.fa-heart:hover {
  right:20px;
  bottom:3px;
  color:aliceblue;
  position:absolute;
  font-size:15px;
  opacity:1;
}



